:root {
    --main-logo-color: #291507;
    --main-intro-color: #050709;
    --main-hr-color: #4D270C;
    --main-stat-color: #544439;
}


@font-face {
    font-family: "MysteryQuest-Regular";
    src: url('css/fonts/MysteryQuest-Regular.ttf') format("opentype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('css/fonts/Montserrat-Variable.ttf') format("opentype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('css/fonts/Montserrat-Semibold600.ttf') format("opentype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('css/fonts/Montserrat-Bold700.ttf') format("opentype");
}

.App {
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-header {
    width: 100%;
    padding: 36px 0 39px 0;
}

.App-logo {
    font-family: MysteryQuest-Regular, sans-serif;
    font-size: 24px;

    text-decoration: none;
    color: var(--main-logo-color);
}

.intro {
    border-radius: 40px 40px 0 0;
    background: var(--main-intro-color);
    padding: 115px 0 144px 108px;
    background-image: url("../src/css/img/header-md.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.whiteLogo {
    width: 300px;
    height: 100px;
    max-width: 300px;
    margin: 0 0 11px 0;
}

.introText {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 24px;
    color: white;
    margin: 0 0 52px 0;
}

.search {
    background: #FFFFFF;
    border-radius: 59px;
    width: 300px;
    padding: 24px 29px 24px 29px;
    outline: none;
    border: none;
    position: relative;

    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: var(--main-logo-color);
}

.search::-webkit-input-placeholder {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: var(--main-logo-color);
}

.search::-moz-placeholder {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: var(--main-logo-color);
}

.search:-ms-input-placeholder {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: var(--main-logo-color);
}

.form {
    position: relative;
    max-width: 380px;
}

.search-icon {
    position: absolute;
    top: 25px;
    right: 50px;
}

.top-breeds {
    background: #E3E1DC;
    padding: 40px 108px 100px 108px;
    border-radius: 0 0 40px 40px;

    margin: 0 0 100px 0;
}

.top-breeds-title {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: var(--main-logo-color);

    margin: 0 0 8px 0;
}

.top-breeds-hr {
    background: var(--main-hr-color);
    height: 3px;
    width: 60px;
    border-radius: 77px;

    margin: 0 0 36px 0;
}

.subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 46px 0;
}

.top-breeds-subtitle {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(59 / 48 * 100%);
    color: var(--main-logo-color);

}

.top-breeds-button {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: rgba(41, 21, 7, 0.6);
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.top-breeds-button img {
    margin: 0 0 0 10px;
}

.top-breeds-cats {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.top-breeds-column {
    display: flex;
    flex: 0 1 25%;
    padding: 0;
    margin: 0 auto;

    text-decoration: none;
}

.top-breeds-cats::before {
    content: "";
    background-color: #DEC68B;
    position: absolute;
    height: 175px;
    border-radius: 12px;
    width: 20%;
    left: 0;
    top: 10%;
    z-index: 0;
}

.top-breeds-cat {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.top-breeds-cat-img {
    width: 220px;
    height: 220px;
    border-radius: 24px;
    overflow: hidden;
    background: crimson;
    margin: 0 auto 20px auto;
}

.top-breeds-cat-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-breeds-cat-name {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: var(--main-logo-color);
}

.why-have-cat-section {
    padding: 0 108px 100px 108px;
    display: flex;
    flex-wrap: nowrap;
}

.why-content {
    flex: 0 1 50%;
    margin: 70px 0 0 0;
    align-items: center;
}

.why-text-hr {
    width: 67px;
    height: 3px;
    background: var(--main-hr-color);
    border-radius: 77px;
    margin: 0 0 17px 0;
}

.why-text-title {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(59 / 48 * 100%);
    color: var(--main-logo-color);

    margin: 0 0 44px 0;
}

.why-text {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: var(--main-logo-color);
    max-width: 450px;

    margin: 0 0 66px 0;
}

.why-imgs {
    display: flex;
    flex-wrap: nowrap;
}

.why-imgs-column {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.why-imgs > *:not(:first-child) {
    margin: 0 0 0 27px;
}

.why-img-1 {
    width: 273px;
    height: 167px;
    background: crimson;
    border-radius: 24px;
    overflow: hidden;
    margin: 0 0 29px 0;
}

.why-img-2 {
    width: 195px;
    height: 293px;
    background: crimson;
    border-radius: 24px;
    overflow: hidden;
}

.why-img-3 {
    width: 238px;
    height: 386px;
    background: crimson;
    border-radius: 24px;
    overflow: hidden;
    margin: 0 auto;
}

.footer {
    background: #000000;
    border-radius: 42px 42px 0 0;

    bottom: 0;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 25px 25px 80px;
}

.footer-copyright {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #FFFFFF;
}

.all-breeds {
    color: #000;
}


.names-list {
    background: white;
    height: auto;
    max-height: 220px;
    width: 100%;
    max-width: 320px;
    border-radius: 24px;
    overflow-y: auto;
    margin: 5px 0 0 0;
    padding: 0 10px;
    z-index: 2;
    position: absolute;
}
.names-list::-webkit-scrollbar {
    width: 22px;
}
.names-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px lightgray;
    border: solid 8px transparent;
    border-radius: 16px;
    margin: 5px 0 0 0;
}
.names-list::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px gray;
    border: solid 8px transparent;
    border-radius: 40px;
    height: 50%;
    margin: 5px 10px 0 0;
}

.names-list ul {
    color: #291507;
    list-style: none;
    width: 100%;
    height: 90%;
    padding: 0;
}
.names-list ul li{
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: #000000;

    padding: 15px 0 15px 15px;
}
.names-list ul li:hover{
    background: #9797971A;
    border-radius: 12px;
}

.list-item {
    text-decoration: none;
}

.breed-content, .breed-photos {
    display: flex;
    flex: 0 1 100%;
    padding: 0 50px;
}

.breed-column {
    display: flex;
    flex: 0 1 35%;
    position: relative;
}

.breed-column:before {
    content: '';
    position: absolute;
    width: 83px;
    height: 305px;
    left: 0;
    top: 30px;


    background: #DEC68B;
    border-radius: 14px;
    z-index: -1;
}

.breed-profile-photo {
    width: 371px;
    height: 371px;

    background: white;
    border-radius: 24px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.breed-profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.breed-profile-details {
    margin: 0 0 0 115px ;
    max-width: 600px;
}

.breed-name {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: calc(44 / 36 * 100%);
    color: var(--main-logo-color);

    margin: 0 0 25px 0;
}

.breed-desc {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22/18 * 100%);
    color: var(--main-logo-color);

    margin: 0 0 32px 0;
}

.stats>*:not(:last-child) {
    margin: 0 0 32px 0;
}

.stats {
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
    color: #000000;
}


.stat {
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
    color: #000000;
    margin: 0 5px 0 0;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
}

.brown-bg {
    display: inline-block;
    height: .45rem;
    width: 2rem;
    background-color: #544439;
    border: 1px solid #544439;
    border-radius: 12px;
    margin: 0 .2rem;
}
